body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  min-height: 80px;
  box-shadow: "5px 10px #888888"
}

#basic-nav-dropdown {
  font-size: medium;
  font-weight: bold;
}
/* 
#road-map {
  margin-top: 10px;
  margin-bottom: 20px;
} */

/* #card-text {
  padding: "20px";
  font-weight: "bold";
  font-size: medium

} */